body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:846px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:846px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:415px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:846px;
  background:inherit;
  background-color:rgba(0, 0, 51, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:846px;
  opacity:0.75;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:415px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:0px;
  width:57px;
  height:56px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:224px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:48px;
  width:223px;
  height:224px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:271px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:25px;
  width:269px;
  height:271px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:128px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
