body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:846px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:846px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:415px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:846px;
  background:inherit;
  background-color:rgba(0, 0, 51, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:846px;
  opacity:0.75;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:415px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:134px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:156px;
  width:393px;
  height:134px;
  font-family:'Arial Félkövér', 'Arial Normál', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#990000;
  text-align:left;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:389px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:134px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:352px;
  width:369px;
  height:134px;
  font-family:'Arial Félkövér', 'Arial Normál', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#990000;
  text-align:right;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:365px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:0px;
  width:57px;
  height:56px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
